.custom-navbar {
  height: 8vh;
}

.custom-navbrand {
  font-weight: 700;
}

.logout-col {
  text-align: end;
}

.navBarButton {
  background-color: #b7877b !important;
  border: 1px solid #b7877b !important;
}
